/* TODO import styles from story.json */
$loading-screen-background: #ffc100;
$loading-screen-accent: #916f04;

body {
    margin: 0 auto;
    background-color: $loading-screen-background;
}

#app {
    display: grid;
    // width: 100%;
    /* TODO add minmax for smaller screeens */
    grid-template-columns: repeat(14, 1fr);
    grid-column-gap: 1%;
    justify-content: space-between;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    border: 1rem solid #000;
    grid-column: 2 / 14;

    h1 {
        display: grid;
        text-transform: uppercase;
        grid-column: 4 / 11;
    }

    #index {
        display: inline-block;
        font-size: 6.25rem;
    }

    #narrative {
        display: grid;
        // justify-content: center;
        grid-column: 3 / 11;
        grid-auto-flow: column;
        // grid-template-columns: repeat(2, 3fr);
        grid-column-gap: 1fr;
    }

    #controls-container {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / 14;
        transform: translateY(1rem);

    }

    .control {
        font-size: 3rem;
        display: flex;
        background-color: $loading-screen-background;
        padding: 0 0.5em;

        &:hover {
            cursor: pointer;
        }
    }
}
